.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
  background-repeat: 4px;
  margin-bottom: 5px;
}
.strikeOut:hover,
.strikeOut:focus {
  color: #ffffff;
  background-color: #f32167;
}
.todoInput {
  margin-right: 20px;
}
