.cardImage {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.characterItem {
  width: calc((100% - 95px) / 4);
}
.characterItem:not(:nth-child(4n)) {
  margin-right: 30px;
}
.characterItem:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.characterItem:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.characterItem:hover .floatingText {
  transform: translateY(0%);
}

.floatingText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0px;
  padding: 30px 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description {
  height: 80px;
}
.description h2 {
  margin-bottom: 13px;
}
