.header {
  border-bottom: 1px solid #cac1c1;
  position: relative;
}
.filter__list .button {
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  padding: 6px 22px;
  line-height: 1.625;
  font-weight: 500;
}

.button {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.filter__list {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 30px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.characterslist {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
}
.pagination {
  width: 300px;
  margin: 30px auto;
}
.prev {
  width: 100px;
  height: 35px;
  margin-right: 50px;
  background-color: rgb(236, 173, 173);
}
.next {
  width: 100px;
  height: 35px;
  background-color: rgb(136, 221, 103);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.flex .pagination {
  margin-right: 0;
}
